@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul,
p,
b,
input,
textarea {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Основні кольори - 
Основний фон #FFFFFF
Фон #2F303A
Фон секцій/кнопок - другорядний  #F5F4FA
Акцент #2196F3
Другорядний фон #757575
Текст білий #FFFFFF;
Текст чорний #212121
Текст сірий #212121
Текст адреси rgba(255, 255, 255, 0.6); */
/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
/* перемінні для основних кольорів */
:root {
  --primary-background-color: #FFFFFF;
  --second-primary-background: #2F303A;
  --background-section-color: #F5F4FA;
  --background-color: #757575;
  --accent-color: #2196F3;
  --primary-text-white: #FFFFFF;
  --primary-text-black: #212121;
  --second-text-gray: #757575;
  --second-text-gray-alfa-chenel: rgba(255, 255, 255, 0.6);
  --border-color: #EEEEEE;
  --border-bottom-color-header: #ECECEC;
  --background-button-hover: #188CE8;
  --features-title-background-before: #F5F4FA;
  --clients-link-color: #AFB1B8;
  --team-link-color: #AFB1B8;
  --background-soc-link-footer: rgba(255, 255, 255, 0.1);
  --background-gallery-item-hover: rgba(33, 150, 243, 0.9);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --background-modal-window: #FFFFFF;
  --background-case_bloc_title: rgba(47, 48, 58, 0.8);
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-gray);
  background-color: var(--primary-background-color);
  /* padding-top - висота для фіксованого меню (щоб контент не попав під хедер) */
  padding-top: 80px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*  Прибираємо маркування у списків */
.link {
  text-decoration: none;
}

/* Прибираємо підкреслення у посилань */
.list {
  list-style-type: none;
}

.hidden_title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.active_page {
  color: var(--accent-color);
}
.active_page::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0px;
  top: 77px;
  background: var(--accent-color);
  border-radius: 2px;
}

.features__list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.features__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.features__icon__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background: var(--features-title-background-before);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.features__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-black);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.features__description {
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
    width: 354px;
  }
  .features__list .features__list__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    width: 270px;
  }
}
.case {
  display: none;
}

/* Блок справ */
/* Поєднані стилі для двух заголовків блоків case & team  */
@media screen and (min-width: 1200px) {
  .case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .case__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .case__list__item {
    margin-right: 30px;
  }
  .case__list__item:nth-child(3n) {
    margin-right: 0;
  }
  .case__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-black);
    margin-bottom: 50px;
  }
  .case__list__item__wrapper {
    display: block;
    position: relative;
  }
  .case__position__bloc {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    min-height: 70px;
    background: var(--background-case_bloc_title);
  }
  .case__position__bloc__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-white);
    white-space: nowrap;
  }
}
/* Блок - наша команда */
.team_first_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-black);
  margin-bottom: 30px;
}

.team_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team {
  background-color: var(--background-section-color);
}
.team_item {
  background-color: var(--primary-background-color);
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.team .team_item:last-child {
  margin-bottom: 60px;
}

.team_text {
  padding: 30px 32px 30px 32px;
}

.team_title {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-black);
  margin-bottom: 10px;
}

.team_position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/* Іконки для соц мереж команди */
.team_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team_soc_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--team-link-color);
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_soc_link:hover, .team_soc_link:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-white);
}

/* Дя того щоб змінити колір іконки при наведенні, треба вказити ховер на посилання і замінити колір іконки. Також можна наслідувати колір батька через fill-currentColor (колір посилання без ховеру) і змінити колір фону та іконки через клас посилання(не прописувати код окремо) */
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team_list .team_item {
    width: 354px;
  }
  .team_list .team_item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team_first_title {
    font-size: 33px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .team_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team_list .team_item {
    width: 270px;
    margin-bottom: 0;
  }
}
/* Секція кліентів */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.clients_list {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients_item {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.clients_item:last-child {
  margin-bottom: 0;
}

.clients_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid var(--clients-link-color);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--team-link-color);
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients_link:hover, .clients_link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .clients_item:nth-child(n+5) {
    margin-bottom: 0;
  }
  .clients_list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .clients_item:nth-child(n+4) {
    margin-bottom: 0;
  }
  .clients_link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients_item {
    margin-bottom: 0;
  }
  .clients_link {
    width: 170px;
  }
}
/* Футер для сторінок Студія та Прортфоліо */
/* footer - Підвал веб-сайту */
.footer {
  background-color: var(--second-primary-background);
  padding: 60px 0;
}

.address_section {
  text-align: center;
  margin-bottom: 60px;
}

/* Лого */
.footer_logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-white);
  margin-bottom: 20px;
}
.footer_logo_firstp {
  color: var(--accent-color);
}

/* Адреса */
.address_map {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-text-white);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address_link {
  font-style: normal;
  line-height: 1.71;
  color: var(--second-text-gray-alfa-chenel);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address_item {
  margin-bottom: 10px;
}

.address_map:hover,
.address_map:focus,
.address_link:hover,
.address_link:focus {
  color: var(--accent-color);
}

/* footer частина з посиланнями на соц мережі */
.footer_title_soc {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-text-white);
  margin-bottom: 20px;
  text-align: center;
}

.footer_list_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_soc_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background: var(--background-soc-link-footer);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--primary-background-color);
  fill: currentColor;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_soc_link:hover, .footer_soc_link:focus {
  background-color: var(--accent-color);
}

/* Форма для підписки в футері */
.bloc_form_subscription {
  text-align: center;
}

.title_subscription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-white);
  margin-bottom: 20px;
}

.email_subscription {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-primary-background);
  margin-bottom: 20px;
}

.buttom_subscription {
  padding: 10px 28px;
  min-height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-white);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.buttom_subscription:hover, .buttom_subscription:focus {
  background: var(--background-button-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon_form_button {
  fill: var(--primary-text-white);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .address_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 61px;
    padding-right: 74px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
  .address_section {
    display: block;
    width: 232px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
  .address_soc_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 206px;
  }
  .footer_list_soc {
    margin-bottom: 0;
  }
  .email_subscription {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .address_wrapper {
    padding: 0;
    margin-bottom: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .address_section {
    margin-right: 70px;
    text-align: start;
  }
  .bloc_form_subscription {
    text-align: start;
  }
  .buttom_subscription {
    margin-left: 0;
    margin-right: 0;
  }
  .form_subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .email_subscription {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}/*# sourceMappingURL=main.css.map */